<div id="<%= dom_id animal %>">
  <p>
    <strong>Rails:</strong>
    <%= animal.rails %>
  </p>

  <p>
    <strong>Generate:</strong>
    <%= animal.generate %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= animal.model %>
  </p>

  <p>
    <strong>Animal:</strong>
    <%= animal.Animal %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= animal.name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= animal.date_of_birth %>
  </p>

  <p>
    <strong>Escape attempts:</strong>
    <%= animal.escape_attempts %>
  </p>

  <p>
    <strong>Neutered:</strong>
    <%= animal.neutered %>
  </p>

  <p>
    <strong>Weight kg:</strong>
    <%= animal.weight_kg %>
  </p>

</div>
